  <% active = defined?(active) && active %>
  <% if tag.color.blank? && defined?(parent_color) %>
    <% tag.color = parent_color %>
  <% end %>
  <% splash = defined?(splash) && splash %>
  
  <li id="tag-<%= tag.id %>">
    <% if splash %>
      <img src="/images/site/splash-mask.png" class="splash" style="float: left; background: <%= tag.color %>"/>
    <% end %>
    <a href="<%= tag.url %>" class="<%= 'active' if active %> navlink" style="color:<%= tag.color %>;"><%= tag.display_name %></a>
  </li>
